name: Assignment workflow

on:
  workflow_dispatch: # manual trigger

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 24ds3000108@ds.study.iitm.ac.in
        run: echo "Hello, world!"
