name: Assignment Cache

on: [workflow_dispatch, push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: prime-cache-27f7809
      id: mycache
      uses: actions/cache@v4
      with:
        key: cache-27f7809
        path: cache/
        
    - name: Cache status
      run: echo "HIT: ${{ steps.mycache.outputs.cache-hit }}"
      
    - name: Populate  # ← HAD MISSING '-' HERE!
      run: |
        mkdir -p cache
        echo "✓ CACHED $(date)" > cache/ok.txt
        
    - name: Done
      run: echo "Hello, world!"
