name: Assignment Cache

on:
  workflow_dispatch:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: prime-cache-27f7809
        id: cache
        uses: actions/cache@v4
        with:
          key: cache-27f7809
          path: .cache/
          
      - name: Show result
        run: echo "Cache hit: ${{ steps.cache.outputs.cache-hit }}"
        
      - name: Create files
        run: |
          mkdir -p .cache
          echo "Assignment complete" > .cache/demo.txt
          
      - name: Hello
        run: echo "Hello, world!"
